<!-- Kristen Marventano -->

<head>
    <title>About</title>
</head>

<form method="Get" action="/about">
        <h1 id="about">About</h1>
        <hr>
        <div>
            <p>A mood diary is a special kind of diary that
                focuses on circumstances like where you were, what you
                felt, what you were doing. They can be used as a traditional
                diary, but they are commonly used for tracking negative
                emotions. By tracking emotions along with behaviors and
                environment, you can learn your triggers and better
                ways to cope. They can be used in conjunction with
                therapy to treat a variety of mental illnesses, or just to
                gain a better understanding of self. To learn more about
                mood diaries and their benefits
                <a href= http://well.wvu.edu/articles/writing_a_mood_diary>
                    click here </a> </p>
        </div>

        <h1 id="feelingWheel">The Feeling Wheel</h1>
        <hr>

        <div>
            <p>Below is the Feeling Wheel developed by Dr Gloria Willcox
                to help people better identify their emotions. The center of
                the wheel contains 6 core emotions of mad, scared, peaceful,
                powerful, sad, and joyful. As you move farther from the
                center, emotions become more descriptive. It is a tool
                commonly used in therapy, but can be very useful for
                anyone who has trouble putting their emotions into words.
                It's available above every new entry in your diary.
            </p>
        </div>


        <div>
            <img src="/img/feelingWheel.png" alt="feelings" align="middle" width="65%">
        </div>


        <div>
            <h1 id="resources">Resources</h1>
            <hr>
            <p>
                If you or a loved one is strugging with their mental
                health, check out the
                <a href= /resources> Resource Page</a> for more information.
            </p>
        </div>
</form>
