<head>
    <title>Login</title>
</head>

<form method="post" action="/login">
    <h1 id="login">Login</h1>
    <hr>

    <div>
        <h5>
            Username:
        </h5>
        <input type="text" name = "username">
    </div>

    <div>
        <h5>
            Password:
        </h5>
        <input type="password" name = password>
    </div>

    <div>
        <input type="submit" value="Login">
    </div>

    <div>
        Don't have an account? <a href= "/register"> Register here</a>
    </div>
</form>