<!-- Kristen Marventano -->

<head>
    <title>Register</title>
</head>

<form method="post" action="/register">
    <h1 id="register">Register</h1>
    <hr>

    {{#if error}}
        <div class="alert alert-danger">
            <strong>Registration Failed</strong> Username has been taken,
            try again.
        </div>
    {{/if}}

    <div>
        <h5>
            Username:
        </h5>
        <input type="text" name = "username">
    </div>

    <div>
        <h5>
            Password:
        </h5>
        <input type="password" name = password>
    </div>

    <div>
        <input type="submit" value="Register">
    </div>

    <div>
        Already have an account? <a href= "/login"> Login here</a>
    </div>
</form>