<!-- Kristen Marventano -->

<head>
    <title>Resources</title>
</head>

<form method="Get" action="/resources">
    <h1>Seeking Treatment</h1>
    <hr>

    <div>
        <p>Mental illness is very serious. If you think you may be
            suffering from a mental illness, you don't have to face it
            alone. Below are resources to help find treatment providers
            in your area.
        </p>

        <div>
            <a href= http://www.mentalhealthamerica.net/types-mental-health-treatments>Finding treatment providers</a>
        </div>

        <div>
            <a href= http://www.apa.org/helpcenter/choose-therapist.aspx>How to choose a therapaist</a>
        </div>
    </div>

    <h1>Emergencies</h1>
    <hr>

    <div>
        <p>If you or a loved one are in crisis, it is important to seek out
            help. Below are several hotlines specializing in crisis.
        </p>

        <div>
            National Suicide Prevention Lifeline 1-800-273-8255
        </div>

        <div>
            Samaritans 24-Hour Crisis Hotline 212-673-3000
        </div>

        <div>
            Veterans Crisis Line 1-800-273-8255
        </div>
    </div>

    <h1>More Information </h1>
    <hr>

    <div>
        <p>If you are interested in learning more about mental
            illness and how you can find support or support a loved one,
            check out the links below.
        </p>

        <div>

        <h4>Mood Disorders</h4>
        <div>
            <div>
                <a href= https://www.adaa.org> Anxiety and Depression Association of America</a>
            </div>

            <div>
                <a href= https://nndc.org> National Network of Depression Centers</a>
            </div>

            <div>
                <a href= http://www.dbsalliance.org/site/PageServer?pagename=home> Depression and Bipolar Support Alliance</a>
            </div>

            <div>
                <a href= http://www.mentalhealthamerica.net> Mental Health America</a>
            </div>
        </div>


        <div>
            <h4>PTSD</h4>
            <div>
                <div>
                    <a href= http://www.aa.org> National Center for PTSD and PILOTS Database</a>
                </div>

                <div>
                    <a href= https://victimsofcrime.org> National Victim Center</a>
                </div>

                <div>
                    <a href= http://ptsdusa.org> PTSD Foundation of America (for veterans)</a>
                </div>
            </div>
        </div>

        <div>
            <h4>Addiction</h4>
            <div>

                <div>
                    <a href= http://www.al-anon.alateen.org/for-alateen> Alateen (for teens)</a>
                </div>

                <div>
                    <a href= http://www.aa.org> Alcoholics Anonymous</a>
                </div>

                <div>
                    <a href= https://www.na.org> Narcotics Anonymous</a>
                </div>

                <div>
                    <a href= http://www.gamblersanonymous.org/ga/> Gamblers Anonymous</a>
                </div>

                <div>
                    <a href= http://www.smartrecovery.org> SMART Recovery</a>
                </div>
            </div>
        </div>

        <div>
            <h4>Family and Loved Ones</h4>
            <div>
                <div>
                    <a href= http://www.al-anon.alateen.org> Al-Anon</a>
                </div>

                <div>
                    <a href= https://www.helpguide.org/articles/ptsd-trauma/ptsd-in-the-family.htm> Helping Someone with PTSD</a>
                </div>

                <div>
                    <a href= http://www.nami.org/Find-Support/Family-Members-and-Caregivers> National Alliance on Mental Illness</a>
                </div>

                <div>
                    <a href= http://www.apa.org/helpcenter/improving-care.aspx> American Psychological Association</a>
                </div>


            </div>
        </div>

    </div>
</form>